.cameraModule {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;    
    background-color: white;
}

.cmVideo {
    width: 100%;
}

.cmCanvas {
    width: 100%;
}

.cmButtonCapture {
    margin: 0 auto !important;
    display: block !important;
}

.cmTextFields {
    text-align: center;
}

.uploadImageButton {
    vertical-align: middle;
}

.uploadImageButton input {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}