{
    "presets": ["react", "env"],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
    ]
}
