.main {
    justify-content: space-around;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 55px;
    margin-top: 60px;
}

.main.maxTop {
    margin-top: 0;
}

.main.maxTop.offline {
    margin-top: 20px;
}

.main.offline {
    margin-top: 80px;
}

.loader {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .6);
    z-index: 10000;
}

.loader > div {
    top: 45%;
}

.offlineBar {
    text-align: center;
    color: white;
    background: black;
    position: fixed;
    width: 100%;
    height: 20px;
    z-index: 9999;
}

.noNavbar {
    margin-bottom: 0;
}