.feedCards {
    margin: 1.5vh 0;
}

.buttonsAlignRight {
    text-align: right;
}

.feedCards.waitingSync img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.deleteButton {
    position: absolute !important;
    top: 0;
    right: 0;
    min-width: 0 !important;
}