<!DOCTYPE html>
<html lang="en" <%- helmet.htmlAttributes.toString() %>

<head>

    <%- helmet.title.toString() %>
        <%- helmet.meta.toString() %>

</head>

<body>

    <div id="root">
        <%- markup %>
    </div>

</body>

</html>