.gridList {
    height: 100% !important;
}

.gridList > div{
    height: 13vh !important;
}

.userBar, .suggestFood {
    width: 95%;
    height: 85px;
    margin-top: 1.5vh;
    margin-left: auto;
    margin-right: auto;

    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto) */
}

.suggestFood {
    background-color: #0097a7 !important;
    height: auto;
    padding: 5%;
    /* text-align: center; */
}

.suggestFood .loader {
    left: 45%;
}

.suggestFood .buttonSuggest {
    width: 85vw;
}

.avatarUser {
    margin-top: 2.5vh;
    margin-left: 4vw;
}

.textcenter {
    text-align: center;
}

.chip {
    margin: 4;
    font-size: 4px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.suggestFood .loader {
    top: 30%;
}

.radio {
    border: 1px solid #80DEEA;
    padding: 5%;
    width: 80% !important;
    margin: 5% auto;
}

.radio > input {
    left: 0;
    top: 0;
}

.radio span {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

.selectedRadio {
    background-color: #80DEEA;
    opacity: .5 !important;
}

.backButton{
    position: absolute !important;
    left: 5px !important;
    top: 100px !important;
}