.alignLeft {
    text-align: left;
    margin-left: 3vh;
}

.paper {
    height: 70vh;
    width: 90vw;
    text-align: center;
    margin: 0 auto;
}

.barChart {
    margin: 0 auto;
    margin-top: 2vh;
}
